@charset "utf-8";
		body { overflow-x: hidden; margin: 0px; padding: 0px; }
		html { 
		  background: url("../images/covaBG.jpg") no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;			
		}

/* ------------------ */
		.logo-place {
			
			margin-top: 10%;
			height: 115px;
			text-align: center;
			
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
				width: 100%;
				margin-top: 40%;
				height: auto;
				text-align: center;
			
			}
			
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				width: 100%;
				margin-top: 15%;
				height: 115px;
				text-align: center;
			}
		
  		}
		
/* ------------------ */

		.logo-place img {
			width: 418px;
			
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
			width: 50%;
			}
		}
			
			
	

/* ------------------ */
		

		
		/*.no-js #loader { display: none;  }
		.js #loader { display: block; position: absolute; left: 100px; top: 0; }
		.se-pre-con {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: url(images/pre-loaders/64/Preloader_8.gif) center no-repeat #fff;
		}	*/	
		

		

		
